In [1]:
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# data file's path:
crime_2014 = "crime_data_csvs/crime_by_city_2014.csv"

In [3]:
# Use Pandas to read data
crime_2014_df = pd.read_csv(crime_2014)
crime_2014_df.head(10)

,Agency,State,Months,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,Phoenix Police Dept,AZ,12,1529852,8749.0,114,NaN,1006.0,2952,4677,...,571.9,7.5,NaN,65.8,193.0,305.7,3724.3,935.8,2317.9,470.6
1,Tucson Police Dept,AZ,12,527328,3443.0,35,NaN,399.0,988,2021,...,652.9,6.6,NaN,75.7,187.4,383.3,NaN,805.4,NaN,345.7
2,Fresno Police Dept,CA,12,513187,2382.0,47,53.0,NaN,781,1501,...,464.2,9.2,10.3,NaN,152.2,292.5,4111.8,919.9,2587.2,604.7
3,Los Angeles Police Dept,CA,12,3906772,19171.0,260,NaN,1126.0,7949,9836,...,490.7,6.7,NaN,28.8,203.5,251.8,2128.1,385.7,1389.4,352.9
4,San Diego Police Dept,CA,12,1368690,5214.0,32,371.0,NaN,1318,3493,...,380.9,2.3,27.1,NaN,96.3,255.2,1959.0,373.7,1219.5,365.8
5,San Francisco Police Dept,CA,12,850294,6761.0,45,NaN,355.0,3224,3137,...,795.1,5.3,NaN,41.8,379.2,368.9,5303.2,615.9,3966.9,720.5
6,San Jose Police Dept,CA,12,1009679,3242.0,32,306.0,NaN,1072,1832,...,321.1,3.2,30.3,NaN,106.2,181.4,2434.1,511.7,1173.6,748.8
7,Denver Police Dept,CO,12,665353,4002.0,31,NaN,471.0,1088,2412,...,601.5,4.7,NaN,70.8,163.5,362.5,3367.4,685.0,2164.9,517.5
8,Washington Metropolitan Police Dept,DC,12,658893,7810.0,105,NaN,470.0,3231,4004,...,1185.3,15.9,NaN,71.3,490.4,607.7,5012.5,525.6,3928.0,559.0
9,Jacksonville,FL,12,856021,5853.0,96,NaN,479.0,1419,3859,...,683.7,11.2,NaN,56.0,165.8,450.8,3940.6,795.1,2914.1,231.4

In [4]:
# Display a statistical overview of the DataFrame (just for a test!)
crime_2014_df.describe()

,Months,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
count,94.000000,9.400000e+01,93.000000,94.000000,22.000000,72.000000,94.000000,94.000000,92.000000,94.000000,...,91.000000,92.000000,20.00000,72.000000,92.000000,92.000000,90.000000,92.000000,90.000000,92.000000
mean,11.840426,6.166002e+05,4203.731183,58.180851,140.409091,346.666667,1570.861702,2488.308511,21460.630435,4290.085106,...,701.327473,10.598913,34.83500,60.186111,241.772826,396.293478,3967.254444,826.969565,2725.441111,422.158696
std,1.090558,1.004525e+06,6371.887759,77.207159,123.671862,380.767683,2467.899100,3907.282778,23028.917284,4257.695607,...,383.324430,9.742718,16.51093,28.132765,164.572454,233.338243,1391.769442,411.304757,951.934129,290.637322
min,4.000000,5.069300e+04,89.000000,0.000000,17.000000,6.000000,13.000000,52.000000,1204.000000,208.000000,...,106.300000,0.000000,10.30000,9.500000,20.400000,38.400000,1601.900000,171.400000,1078.400000,54.900000
25%,12.000000,1.926222e+05,918.000000,10.000000,35.000000,90.750000,251.000000,529.000000,6705.750000,1148.500000,...,429.250000,3.875000,23.82500,38.950000,116.550000,254.350000,2899.925000,505.225000,2050.750000,178.275000
50%,12.000000,3.381675e+05,2455.000000,31.000000,98.500000,216.000000,791.000000,1488.500000,14360.000000,2993.500000,...,619.500000,7.300000,34.10000,61.050000,216.900000,365.000000,3918.400000,780.800000,2718.750000,360.400000
75%,12.000000,6.622808e+05,4934.000000,67.500000,236.250000,473.000000,1616.000000,3091.750000,28683.500000,5721.750000,...,907.250000,15.200000,41.47500,76.200000,338.625000,482.075000,4830.300000,1079.475000,3223.975000,584.425000
max,12.000000,8.473938e+06,50564.000000,415.000000,402.000000,2190.000000,16581.000000,31460.000000,135747.000000,21629.000000,...,1989.500000,49.900000,71.90000,156.300000,769.800000,1342.800000,8460.900000,2087.700000,6631.000000,1473.900000

In [7]:
# Reference columns that we wish to study!
crime_2014_df[["Agency","Violent crime total","Violent Crime rate","Robbery","Robbery rate","Property crime rate","Burglary rate"]].head()

,Agency,Violent crime total,Violent Crime rate,Robbery,Robbery rate,Property crime rate,Burglary rate
0,Phoenix Police Dept,8749.0,571.9,2952,193.0,3724.3,935.8
1,Tucson Police Dept,3443.0,652.9,988,187.4,NaN,805.4
2,Fresno Police Dept,2382.0,464.2,781,152.2,4111.8,919.9
3,Los Angeles Police Dept,19171.0,490.7,7949,203.5,2128.1,385.7
4,San Diego Police Dept,5214.0,380.9,1318,96.3,1959.0,373.7