In [1]:
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# data file's path:
crime_2013 = "crime_data_csvs/crime_by_city_2013.csv"

In [3]:
# Use Pandas to read data
crime_2013_df = pd.read_csv(crime_2013)
crime_2013_df.head(10)

,Agency,State,Months,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,Phoenix Police Dept,AZ,12,1502139,9492,118,635.0,NaN,3233,5506,...,631.9,7.9,42.3,NaN,215.2,366.5,4000,1114.9,2462,423.1
1,Tucson Police Dept,AZ,12,525486,3368,47,216.0,NaN,1002,2103,...,640.9,8.9,41.1,NaN,190.7,400.2,NaN,943.3,NaN,416.8
2,Fresno Police Dept,CA,12,508876,2552,40,53.0,NaN,903,1556,...,501.5,7.9,10.4,NaN,177.4,305.8,4438,1026.4,2614.4,797.2
3,Los Angeles Police Dept,CA,12,3878725,16524,251,764.0,NaN,7885,7624,...,426.0,6.5,19.7,NaN,203.3,196.6,2213.2,405.5,1436.9,370.8
4,San Diego Police Dept,CA,12,1349306,5303,39,316.0,NaN,1456,3492,...,393.0,2.9,23.4,NaN,107.9,258.8,2351.4,471.0,1425.2,455.3
5,San Francisco Police Dept,CA,12,833863,7064,48,161.0,NaN,4202,2653,...,847.1,5.8,19.3,NaN,503.9,318.2,5795.2,711.3,4380.5,703.5
6,San Jose Police Dept,CA,12,992143,3215,38,270.0,NaN,1095,1812,...,324.0,3.8,27.2,NaN,110.4,182.6,2571.2,521.4,1250.9,798.9
7,Denver Police Dept,CO,12,"648,981","4,093",41,NaN,519.0,"1,133","2,400",...,630.7,6.3,NaN,80.0,174.6,369.8,"3,660.40",759.2,"2,363.20",537.9
8,Washington Metropolitan Police Dept,DC,12,646449,7880,103,NaN,393.0,3660,3724,...,1219.0,15.9,NaN,60.8,566.2,576.1,4574.1,512.6,3574.6,486.8
9,Jacksonville,FL,12,845745,5246,93,NaN,452.0,1424,3277,...,620.3,11.0,NaN,53.4,168.4,387.5,3902.7,835.8,2880.4,186.5

In [4]:
# Display a statistical overview of the DataFrame (just for a test!)
crime_2013_df.describe()

,Months,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Burglary rate,Motor vehicle theft rate
count,94.000000,94.000000,45.000000,48.000000,92.000000,93.000000,44.000000,48.000000,93.000000,93.00000,93.000000,93.000000
mean,11.936170,57.202128,239.511111,239.687500,702.838043,10.150538,37.731818,58.764583,256.751613,389.83871,926.602151,425.739785
std,0.618853,77.345556,244.365563,241.967305,383.822040,9.650891,18.782782,26.198169,183.969044,221.21271,439.099068,298.495701
min,6.000000,0.000000,12.000000,21.000000,97.900000,0.000000,10.400000,14.100000,14.400000,43.90000,168.300000,53.500000
25%,12.000000,10.500000,74.000000,77.500000,398.700000,3.600000,23.700000,40.325000,124.000000,246.40000,555.100000,186.500000
50%,12.000000,33.000000,160.000000,141.000000,630.700000,6.700000,35.400000,59.450000,215.200000,358.00000,849.600000,397.500000
75%,12.000000,68.000000,298.000000,392.250000,924.550000,15.200000,47.100000,77.900000,339.900000,483.90000,1161.300000,588.400000
max,12.000000,416.000000,1112.000000,1279.000000,2071.900000,45.200000,94.600000,112.000000,898.300000,1257.50000,2127.300000,1657.700000

# TBD by Group:  Which columns (crime-variables/"type"
# do we want to study or reference??
# When decided, we can then look at.............

In [8]:
# Reference a single column within a DataFrame  (based on the above)
crime_2013_df[["Agency","Violent crime total","Violent Crime rate","Robbery","Robbery rate","Property crime rate","Burglary rate"]].head()

,Agency,Violent crime total,Violent Crime rate,Robbery,Robbery rate,Property crime rate,Burglary rate
0,Phoenix Police Dept,9492,631.9,3233,215.2,4000,1114.9
1,Tucson Police Dept,3368,640.9,1002,190.7,NaN,943.3
2,Fresno Police Dept,2552,501.5,903,177.4,4438,1026.4
3,Los Angeles Police Dept,16524,426.0,7885,203.3,2213.2,405.5
4,San Diego Police Dept,5303,393.0,1456,107.9,2351.4,471.0