In [56]:
import pandas as pd
import numpy as np

In [27]:
# Quality of Life Rankings
qol_rankings = pd.read_csv("Adam/Final QOL Rankings.csv")

# Rename cities to get similar labels
qol_rankings.set_value(10, 'City', "Montgomery County")
qol_rankings.set_value(14, 'City', "Northern Virginia")
qol_rankings.set_value(17, 'City', "Raleigh")
qol_rankings

                 City State  crime_score  hosp_score  Total Score  QOL Score
0             Atlanta    GA          2.4         4.3          6.7        4.5
1              Austin    TX          8.1         3.2         11.3        8.2
2              Boston    MA          5.6         2.2          7.8        5.4
3             Chicago    IL          2.3         3.7          6.0        4.0
4            Columbus    OH          7.2         1.4          8.6        6.0
5              Dallas    TX          5.1         3.2          8.3        5.8
6              Denver    CO          6.0         2.0          8.0        5.6
7        Indianapolis    IN          0.0         1.1          1.1        0.0
8         Los Angeles    CA          5.5         4.5         10.0        7.2
9               Miami    FL          4.1         4.1          8.2        5.7
10  Montgomery County    MD          8.7         4.8         13.5       10.0
11          Nashville    TN          2.3         4.2          6.5        4.4
12             Newark    NJ          3.7         4.2          7.9        5.5
13           New York    NY          6.7         5.2         11.9        8.7
14  Northern Virginia    VA         10.0         1.8         11.8        8.6
15       Philadelphia    PA          3.2         1.8          5.0        3.1
16         Pittsburgh    PA          5.0         1.8          6.8        4.6
17            Raleigh    NC          5.4         2.1          7.5        5.2
18         Washington    DC          2.0         6.8          8.8        6.2

In [15]:
# Business Envrionment Rankings
biz_env_rankings = pd.read_csv("forrest/Rankings_gdp_tax.csv")
biz_env_rankings.set_value(11, "City", "Montgomery County")
biz_env_rankings

,City,State_x,Tax_score,GDP_score,Unemp_score,Total Score,Biz Env Score
0,Atlanta,GA,2.7,4.4,4.6,11.7,4.1
1,Raleigh,NC,7.1,7.5,4.6,19.2,8.5
2,Indianapolis,IN,6.6,5.0,8.9,20.5,9.3
3,Columbus,OH,5.6,3.3,3.9,12.8,4.8
4,Dallas,TX,4.0,6.4,6.4,16.8,7.1
5,Nashville,TN,2.0,7.2,8.9,18.1,7.9
6,Pittsburgh,PA,6.6,3.9,3.6,14.1,5.5
7,Austin,TX,4.0,10.0,1.0,15.0,6.1
8,Philadelphia,PA,4.5,1.9,3.6,10.0,3.1
9,Miami,FL,6.6,2.8,6.8,16.2,6.8
10,Denver,CO,5.3,6.4,10.0,21.7,10.0
11,Montgomery County,MD,8.6,1.9,6.1,16.6,7.0
12,Washington,DC,9.1,3.6,0.0,12.7,4.7
13,Chicago,IL,0.0,1.1,3.6,4.7,0.0
14,Northern Virginia,VA,10.0,0.0,7.9,17.9,7.8
15,Newark,NJ,6.8,2.8,3.9,13.5,5.2
16,Los Angeles,CA,2.0,5.0,5.0,12.0,4.3
17,Boston,MA,8.1,1.9,8.2,18.2,7.9
18,New York,NY,2.8,2.8,3.9,9.5,2.8

In [36]:
# RE Costs, Cost of Living, and Geography Rankings
re_col_geo_rankings = pd.read_csv("jake/Final Rankings RE, COL, & GEO.csv")
re_col_geo_rankings.columns = [['City', 'State', 'RE & COL', 'Geography']]
re_col_geo_rankings

                 City State  RE & COL  Geography
0             Atlanta    GA      10.0        6.8
1              Austin    TX       8.2        3.8
2              Boston    MA       2.5        8.5
3             Chicago    IL       5.1        3.1
4            Columbus    OH       8.8        4.7
5              Dallas    TX       8.8        3.7
6              Denver    CO       5.3        0.0
7        Indianapolis    IN       8.5        4.0
8         Los Angeles    CA       0.8        1.9
9               Miami    FL       6.1       10.0
10  Montgomery County    MD       5.6        7.0
11          Nashville    TN       8.3        4.9
12             Newark    NJ       4.0        7.5
13           New York    NY       0.0        7.5
14  Northern Virginia    VA       5.1        7.1
15       Philadelphia    PA       6.7        7.3
16         Pittsburgh    PA       8.2        5.1
17            Raleigh    NC       9.4        7.5
18         Washington    DC       5.7        7.1

In [42]:
# Transport Rankings
transport_rankings = pd.read_csv("sara/rankings_trasport_driving.csv")
transport_rankings = transport_rankings[['City', 'State', 'Degree_score']]
transport_rankings['City'] = transport_rankings['City'].str.capitalize()
transport_rankings.set_value(8, 'City', 'Los Angeles')
transport_rankings.set_value(10, 'City', 'Montgomery County')
transport_rankings.set_value(13, 'City', 'New York')
transport_rankings.set_value(14, 'City', 'Northern Virginia')
transport_rankings.columns = [['City', 'State', 'Transport']]
transport_rankings

                 City State  Transport
0             Atlanta    GA        5.1
1              Austin    TX        1.8
2              Boston    MA        6.2
3             Chicago    IL        3.3
4            Columbus    OH        6.2
5              Dallas    TX        4.3
6              Denver    CO        5.0
7        Indianapolis    IN        6.3
8         Los Angeles    CA        5.1
9               Miami    FL        5.7
10  Montgomery County    MD        1.8
11          Nashville    TN        1.5
12             Newark    NJ        3.3
13           New York    NY        3.0
14  Northern Virginia    VA        0.0
15       Philadelphia    PA        6.5
16         Pittsburgh    PA       10.0
17            Raleigh    NC        8.5
18         Washington    DC        3.5

In [22]:
# Twitter sentiment rankings
twit_sent_rankings = pd.read_csv("sara/Finalrank.csv")
twit_sent_rankings = twit_sent_rankings[['City', 'Final Degree Score']]
twit_sent_rankings['City'] = twit_sent_rankings['City'].str.capitalize()
twit_sent_rankings.set_value(7, "City", "Montgomery County")
twit_sent_rankings.set_value(9, "City", "Los Angeles")
twit_sent_rankings.set_value(10, "City", "Northern Virginia")
twit_sent_rankings.set_value(16, "City", "New York")
twit_sent_rankings.columns = [['City', 'Twit Sent Score']]
twit_sent_rankings

                 City  Twit Sent Score
0               Miami              9.2
1          Pittsburgh              8.4
2           Nashville             10.0
3             Atlanta              9.0
4              Denver              8.2
5        Indianapolis              4.7
6              Austin              8.3
7   Montgomery County              9.1
8              Newark              7.9
9         Los Angeles              5.1
10  Northern Virginia              4.7
11            Raleigh              6.1
12           Columbus              8.0
13             Boston              5.1
14             Dallas              8.5
15       Philadelphia              6.1
16           New York              4.3
17            Chicago              7.8
18         Washington              0.0

In [35]:
# Combine QOL and Twit Sentiment Rankings to get one QOL Score

qol_combined = pd.merge(qol_rankings, twit_sent_rankings, how='left', left_on='City', right_on='City')
qol_combined = qol_combined[['City', 'State', 'crime_score', 'hosp_score', 'Twit Sent Score']]
qol_combined['Total Score'] = qol_combined['crime_score']+qol_combined['hosp_score']+qol_combined['Twit Sent Score']

# set variables and rank total quality of life scores
tot_max = max(qol_combined['Total Score'])
tot_min = min(qol_combined['Total Score'])
tot_range = tot_max - tot_min
qol_combined['Quality of Life'] = 2.0

for index, row in qol_combined.iterrows():
    score = (abs(row['Total Score'] - tot_min))/tot_range*10
    score = round(score, 1)
    qol_combined.set_value(index, 'Quality of Life', score)

qol_combined

,City,State,crime_score,hosp_score,Twit Sent Score,Total Score,Quality of Life
0,Atlanta,GA,2.4,4.3,9.0,15.7,5.9
1,Austin,TX,8.1,3.2,8.3,19.6,8.2
2,Boston,MA,5.6,2.2,5.1,12.9,4.2
3,Chicago,IL,2.3,3.7,7.8,13.8,4.8
4,Columbus,OH,7.2,1.4,8.0,16.6,6.4
5,Dallas,TX,5.1,3.2,8.5,16.8,6.5
6,Denver,CO,6.0,2.0,8.2,16.2,6.2
7,Indianapolis,IN,0.0,1.1,4.7,5.8,0.0
8,Los Angeles,CA,5.5,4.5,5.1,15.1,5.5
9,Miami,FL,4.1,4.1,9.2,17.4,6.9
10,Montgomery County,MD,8.7,4.8,9.1,22.6,10.0
11,Nashville,TN,2.3,4.2,10.0,16.5,6.4
12,Newark,NJ,3.7,4.2,7.9,15.8,6.0
13,New York,NY,6.7,5.2,4.3,16.2,6.2
14,Northern Virginia,VA,10.0,1.8,4.7,16.5,6.4
15,Philadelphia,PA,3.2,1.8,6.1,11.1,3.2
16,Pittsburgh,PA,5.0,1.8,8.4,15.2,5.6
17,Raleigh,NC,5.4,2.1,6.1,13.6,4.6
18,Washington,DC,2.0,6.8,0.0,8.8,1.8

In [59]:
# Merge all dataframes into the final rankings
final_merge1 = pd.merge(re_col_geo_rankings, biz_env_rankings, how='left', left_on='City', right_on='City')
final_merge1 = final_merge1[['City', 'State', 'RE & COL', 'Geography', 'Biz Env Score']]
final_merge2 = pd.merge(final_merge1, qol_combined, how='left', left_on='City', right_on='City')
final_merge2 = final_merge2[['City', 'State_x', 'RE & COL', 'Geography', 'Biz Env Score', 'Quality of Life']]
final_merge3 = pd.merge(final_merge2, transport_rankings, how='left', left_on='City', right_on='City')
final_merge3 = final_merge3[['City', 'State', 'RE & COL', 'Geography', 'Biz Env Score', 'Quality of Life', 'Transport']]
final_merge3.columns = [['City/Region', 'State', 'Real Estate & Cost of Living', 'Geography', 'Business Environment', 'Quality of Life', 'Transportation']]
final_merge3['Total Score'] = final_merge3['Real Estate & Cost of Living']+final_merge3['Geography']+final_merge3['Business Environment']+final_merge3['Quality of Life']+final_merge3['Transportation']
final_merge3 = final_merge3.sort_values('Total Score', ascending=False)
rank_index = np.arange(1,20,1)
final_merge3.set_index(rank_index, inplace=True, drop=True)
final_merge3

,City/Region,State,Real Estate & Cost of Living,Geography,Business Environment,Quality of Life,Transportation,Total Score
1,Raleigh,NC,9.4,7.5,8.5,4.6,8.5,38.5
2,Miami,FL,6.1,10.0,6.8,6.9,5.7,35.5
3,Pittsburgh,PA,8.2,5.1,5.5,5.6,10.0,34.4
4,Atlanta,GA,10.0,6.8,4.1,5.9,5.1,31.9
5,Montgomery County,MD,5.6,7.0,7.0,10.0,1.8,31.4
6,Columbus,OH,8.8,4.7,4.8,6.4,6.2,30.9
7,Dallas,TX,8.8,3.7,7.1,6.5,4.3,30.4
8,Boston,MA,2.5,8.5,7.9,4.2,6.2,29.3
9,Nashville,TN,8.3,4.9,7.9,6.4,1.5,29.0
10,Indianapolis,IN,8.5,4.0,9.3,0.0,6.3,28.1
11,Austin,TX,8.2,3.8,6.1,8.2,1.8,28.1
12,Philadelphia,PA,6.7,7.3,3.1,3.2,6.5,26.8
13,Denver,CO,5.3,0.0,10.0,6.2,5.0,26.5
14,Northern Virginia,VA,5.1,7.1,7.8,6.4,0.0,26.4
15,Newark,NJ,4.0,7.5,5.2,6.0,3.3,26.0
16,Washington,DC,5.7,7.1,4.7,1.8,3.5,22.8
17,New York,NY,0.0,7.5,2.8,6.2,3.0,19.5
18,Los Angeles,CA,0.8,1.9,4.3,5.5,5.1,17.6
19,Chicago,IL,5.1,3.1,0.0,4.8,3.3,16.3

In [65]:
final_merge4 = final_merge3[['City/Region', 'State', 'Real Estate & Cost of Living', 'Business Environment', 'Quality of Life', 'Transportation']]
final_merge4['Total Score'] = final_merge4['Real Estate & Cost of Living']+final_merge4['Business Environment']+final_merge4['Quality of Life']+final_merge4['Transportation']
final_merge4 = final_merge4.sort_values('Total Score', ascending=False)
final_merge4.set_index(rank_index, inplace=True, drop=True)
final_merge4

C:\Users\jakec\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,City/Region,State,Real Estate & Cost of Living,Business Environment,Quality of Life,Transportation,Total Score
1,Raleigh,NC,9.4,8.5,4.6,8.5,31.0
2,Pittsburgh,PA,8.2,5.5,5.6,10.0,29.3
3,Dallas,TX,8.8,7.1,6.5,4.3,26.7
4,Denver,CO,5.3,10.0,6.2,5.0,26.5
5,Columbus,OH,8.8,4.8,6.4,6.2,26.2
6,Miami,FL,6.1,6.8,6.9,5.7,25.5
7,Atlanta,GA,10.0,4.1,5.9,5.1,25.1
8,Montgomery County,MD,5.6,7.0,10.0,1.8,24.4
9,Austin,TX,8.2,6.1,8.2,1.8,24.3
10,Indianapolis,IN,8.5,9.3,0.0,6.3,24.1
11,Nashville,TN,8.3,7.9,6.4,1.5,24.1
12,Boston,MA,2.5,7.9,4.2,6.2,20.8
13,Philadelphia,PA,6.7,3.1,3.2,6.5,19.5
14,Northern Virginia,VA,5.1,7.8,6.4,0.0,19.3
15,Newark,NJ,4.0,5.2,6.0,3.3,18.5
16,Washington,DC,5.7,4.7,1.8,3.5,15.7
17,Los Angeles,CA,0.8,4.3,5.5,5.1,15.7
18,Chicago,IL,5.1,0.0,4.8,3.3,13.2
19,New York,NY,0.0,2.8,6.2,3.0,12.0