In [73]:
import os
import csv
import pandas as pd


# ##The average commute time for transit users.
# Percentage difference between average commute times of car commuters and transit users.
# Percentage of commuters who use public transit.
# Total number of commuters who use public transit.
# The difference between the citywide median income and the median income of transit users.

In [74]:
commutercsv = "commutertimes1.csv"
commuterpubliccsv = "commutertimespublic.csv"
populationcsv = "population1.csv"
citiescsv = "cities1.csv"
population_df.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'PLACE', 'COUSUB', 'CONCIT',
       'PRIMGEO_FLAG', 'FUNCSTAT', 'NAME', 'STNAME', 'CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016'],
      dtype='object')

In [75]:
commuter_df = pd.read_csv(commutercsv)
commuter_public_df = pd.read_csv(commuterpubliccsv)
population_df = pd.read_csv(populationcsv)
cities_df = pd.read_csv(citiescsv)
population_df.head()

new_pop_df = population_df[["NAME","STNAME","POPESTIMATE2016"]]

#new_pop_df["NAME"]

In [81]:
# for index, row in new_pop_df.iterrows():
#     if row["NAME"]==row["STNAME"]:
#         new_pop_df = new_pop_df.drop(new_pop_df.index[index])

cities_df["Average Public Transport Commute (minutes)"]= ""
cities_df["Average Individual Commute (distance)"] = ""
cities_df["Population"] = ""
cities_df["Population Served"]=""

In [ ]:
commuter_df.head()

In [13]:


commuter_public_df.columns

Index(['Name', 'City', 'State', 'Legacy NTD ID', 'NTD ID', 'Organization Type',
       'NTD Reporter Type', 'Primary UZA Population', 'Agency VOMS', 'Mode',
       'Type of Service', 'Mode VOM', 'Max Trains In Operation',
       'Average Speed (mi/hr)', 'Average Passenger Trip Length (mi)',
       'Passengers per Hour', 'Scheduled Vehicle Revenue Miles',
       'Vehicle Miles', 'Vehicle Revenue Miles', 'Deadhead Miles',
       'Vehicle Hours', 'Vehicle Revenue Hours', 'Deadhead Hours',
       'Train Miles', 'Train Revenue Miles', 'Train Hours',
       'Train Revenue Hours', 'Unlinked Passenger Trips', 'Passenger Miles',
       'Directional Route Miles'],
      dtype='object')

In [9]:
for i in range(30,47):
    del commuter_public_df[commuter_public_df.columns[i]]

In [72]:
del commuter_public_df["Unnamed: 35"]
del commuter_public_df["Unnamed: 43"]
# del commuter_public_df["Unnamed: 41"]
# del commuter_public_df["Unnamed: 45"]

In [72]:
new_pop_df[new_pop_df["STNAME"]=="Illinois"]

new_pop_df[new_pop_df['NAME'].str.contains("New York")]

                               NAME      STNAME  POPESTIMATE2016
33105           New York Mills city   Minnesota             1227
36135           New York Mills city   Minnesota             1227
36208           New York Mills city   Minnesota             1227
36209           New York Mills city   Minnesota             1227
39945             New York township    Missouri              261
44789            West New York town  New Jersey            53343
45377            West New York town  New Jersey            53343
45399            West New York town  New Jersey            53343
45400            West New York town  New Jersey            53343
46341                      New York    New York         19745289
46717                 New York city    New York          8537673
46718        New York Mills village    New York             3286
47051           New York city (pt.)    New York          1455720
48002           New York city (pt.)    New York          2629150
48398               New York County    New York          1643734
48399           New York city (pt.)    New York          1643734
48450        New York Mills village    New York             3286
48490  New York Mills village (pt.)    New York             1656
48524  New York Mills village (pt.)    New York             1630
48891           New York city (pt.)    New York          2333054
48934           New York city (pt.)    New York           476015

In [83]:
commuter_public_df.head()

,Name,City,State,Legacy NTD ID,NTD ID,Organization Type,NTD Reporter Type,Primary UZA Population,Agency VOMS,Mode,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,MTA New York City Transit,New York,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","11,004",HR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MTA New York City Transit,New York,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","11,004",MB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MTA New York City Transit,New York,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","11,004",DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTA New York City Transit,New York,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","11,004",CB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MTA New York City Transit,New York,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","11,004",RB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:

commuter_public_df.columns

Index(['Name', 'City', 'State', 'Legacy NTD ID', 'NTD ID', 'Organization Type',
       'NTD Reporter Type', 'Primary UZA Population', 'Agency VOMS', 'Mode',
       'Type of Service', 'Mode VOM', 'Max Trains In Operation',
       'Average Speed (mi/hr)', 'Average Passenger Trip Length (mi)',
       'Passengers per Hour', 'Scheduled Vehicle Revenue Miles',
       'Vehicle Miles', 'Vehicle Revenue Miles', 'Deadhead Miles',
       'Vehicle Hours', 'Vehicle Revenue Hours', 'Deadhead Hours',
       'Train Miles', 'Train Revenue Miles', 'Train Hours',
       'Train Revenue Hours', 'Unlinked Passenger Trips', 'Passenger Miles',
       'Directional Route Miles', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46'],
      dtype='object')

In [85]:
commuter_df.head()

,ID,Country,GeoID,City,State,Area Type,Minutes,Margin of Error
0,0100000US,United States,310M300US10100,Aberdeen,SD,Micro,13.2,0.5
1,0100000US,United States,310M300US10140,Aberdeen,WA,Micro,24.8,1.0
2,0100000US,United States,310M300US10180,Abilene,TX,Metro,17.4,0.5
3,0100000US,United States,310M300US10220,Ada,OK,Micro,17.3,0.6
4,0100000US,United States,310M300US10300,Adrian,MI,Micro,26.5,0.7

In [70]:
commuter_public_df.columns

Index(['Name', 'City', 'State', 'Legacy NTD ID', 'NTD ID', 'Organization Type',
       'NTD Reporter Type', 'Primary UZA Population', 'Agency VOMS', 'Mode',
       'Type of Service', 'Mode VOM', 'Max Trains In Operation',
       'Average Speed (mi/hr)', 'Average Passenger Trip Length (mi)',
       'Passengers per Hour', 'Scheduled Vehicle Revenue Miles',
       'Vehicle Miles', 'Vehicle Revenue Miles', 'Deadhead Miles',
       'Vehicle Hours', 'Vehicle Revenue Hours', 'Deadhead Hours',
       'Train Miles', 'Train Revenue Miles', 'Train Hours',
       'Train Revenue Hours', 'Unlinked Passenger Trips', 'Passenger Miles',
       'Directional Route Miles'],
      dtype='object')

In [22]:
newyork_df = commuter_df[commuter_df["State"]=="MD"]

VA_df = commuter_public_df[commuter_public_df["State"]=="MD"]

In [79]:
newyork_df.head()

,ID,Country,GeoID,City,State,Area Type,Minutes,Margin of Error
58,0100000US,United States,310M300US12580,Baltimore-Columbia-Towson,MD,Metro,30.5,0.2
136,0100000US,United States,310M300US15680,California-Lexington Park,MD,Metro,30.4,1.1
137,0100000US,United States,310M300US15700,Cambridge,MD,Micro,25.4,1.2
218,0100000US,United States,310M300US19060,Cumberland,MD,Metro,22.6,0.7
261,0100000US,United States,310M300US20660,Easton,MD,Micro,26.6,1.5

In [88]:
commuter_df[commuter_df['City'].str.contains("Atlanta")]

,ID,Country,GeoID,City,State,Area Type,Minutes,Margin of Error
46,0100000US,United States,310M300US12060,Atlanta-Sandy Springs-Roswell,GA,Metro,31.0,0.1

,City/Region,State,Average Public Commute Time,Average Public Transport Commute Time,Average Individual Commute Time,Population
0,Atlanta,Georgia,,,,
1,Austin,Texas,,,,
2,Boston,Massachusetts,,,,
3,Chicago,Illinois,,,,
4,Columbus,Ohio,,,,
5,Dallas,Texas,,,,
6,Denver,Colorado,,,,
7,Indianapolis,Indiana,,,,
8,Los Angeles,California,,,,
9,Miami,Florida,,,,
10,Montgomery County,Maryland,,,,
11,Nashville,Tennessee,,,,
12,Newark,New Jersey,,,,
13,New York City,New York,,,,
14,Northern,Virginia,,,,
15,Philadelphia,Pennsylvania,,,,
16,Pittsburgh,Pennsylvania,,,,
17,Raleigh,North Carolina,,,,
18,Washington,D.C.,,,,

In [ ]:
# for index, row in cities_df.iterrows():
#     row["City/Region"]
#     cities_df.set_value(index,'Average Public Commute Time',ifor_val)